*.pyc
*.pyo
dist
*.egg-info
.cache
.eggs
.venv
.python-version
build

# Coverage
.coverage
htmlcov
Pipfile*

# Ignore everything under these folders (including subfolders/files)
libdiff/
demo_viewer/
ws_tester/
eden_ws_tester/

.specstory/**